name: Release

on:
  workflow_dispatch:
  workflow_call:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Publish
        env:
          NPM_TAG: ${{ github.event.release.prerelease && 'next' || 'latest' }}
          NODE_AUTH_TOKEN: ''
        run: pnpm publish --tag "$NPM_TAG" --access public --no-git-checks --provenance
